@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
#container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}
ul {
    display: flex; 
}
ul li {
    padding: 10px;
}
.middle {
    background-color: wheat;
    height: 1px;
    width: 0;
    transition: width 0.3s;
}
#mnst {
    margin-top: 5px;
    width: 100%;
    height: 500px;
    background-image: url(./pictures/Panorama_Tigre.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#mbd {
    font-size: 40px;
    font-weight: lighter;
    color: white;
    font-family: sans-serif;
    margin-bottom: 48px;
}
.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 34px;
  color: beige;
}

@media screen and (max-width:765px) {
    #container-main {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
    }
    ul li a {
        font-size: 30px;
    }
    #container-main span {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .middle {
        display: none;
    }
    #mnst {
        height: 200px;
    }
    #mbd {
        font-size: 35px;
    }
}